<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>a13</string>
	<string>books38</string>
	<string>brush</string>
	<string>chemistry</string>
	<string>computerscreen</string>
	<string>cubes5</string>
	<string>dna</string>
	<string>football147</string>
	<string>globe</string>
	<string>laboratory1</string>
	<string>mathematics13</string>
	<string>musical81</string>
	<string>note</string>
	<string>painter11</string>
	<string>physics7</string>
	<string>planet</string>
	<string>science</string>
	<string>soccer34</string>
</array>
</plist>
